.promo-header {
    position: relative;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $mainColor2;

        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(#000, 0.15);
        }

    }

    &__body {
        min-height: 545px;
        padding-top: 30px;
        padding-bottom: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $md4+px) {
            min-height: 330px;
        }
    }

    &__inner {
        padding-left: 10px;
    }

    &__title {
        margin-top: 0;
        font-weight: bold;
        font-size: 54px;
        line-height: 1.2em;
        letter-spacing: 0.012em;
        color: #FFFFFF;
        margin-bottom: 0.16em;
        max-width: 562px;

        @media (max-width: $md3+px) {
            font-size: 44px;
        }

        @media (max-width: $md4+px) {
            font-size: 28px;
        }
    }

    &__subtitle {
        font-size: 18px;
        line-height: 1.72em;
        letter-spacing: 0.012em;
        color: #FFFFFF;
        margin-bottom: 1em;
        max-width: 480px;

        @media (max-width: $md4+px) {
            font-size: 14px;
        }
    }

    & .btn-default {
        min-width: 12.73em;
        margin-right: 1em;
        margin-top: 1em;
        border-width: 2px;

        @media (max-width: $md4+px) {
            font-size: 10px;
        }
    }
}








.benefits-block {
    position: relative;
    padding: 71px 0 30px;
    margin-bottom: 25px;

    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 62%;
        background: rgba(246, 248, 251, 0.7);
        z-index: -1;

    }

    &__title {
        margin-bottom: 33px;
        font-size: 38px;

        @media (max-width: 575px) {
            font-size: 32px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -10px;

        & > li {
            padding: 0 10px;
            flex: 0 1 33.333%;
            margin-bottom: 40px;

            @media (max-width: 860px) {
                flex: 0 1 50%;
            }

            @media (max-width: 575px) {
                flex: 0 1 100%;
            }
        }
    }
}

.card-benefits {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px 32px;
    box-shadow: 0px 4px 32px rgba(24, 68, 116, 0.08);
    border-radius: 8px;
    height: 100%;

    &__icon {
        display: inline-flex;
        height: 63px;
        width: 63px;
        background: rgba($mainColor, 0.08);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 29.5px;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: -32px;
            height: 100%;
            width: 4px;
            background: $mainColor;
            border-radius: 4px;
        }

        & > span {
            display: inline-flex;
            width: 37px;
            height: 37px;
            justify-content: center;
            align-items: center;
            

            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &__titl {
        font-weight: bold;
        font-size: 20px;
        line-height: 1.1em;
        letter-spacing: 0.012em;
        color: $textColor;
        margin-bottom: 12px;
    }

    &__text {
    }
}






.our-courses {

    &__title {
        margin-bottom: 23px;
        font-size: 38px;

        @media (max-width: 575px) {
            font-size: 32px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px;

        & > li {
            flex: 0 1 50%;
            padding: 0 30px;
            margin-bottom: 80px;

            @media (max-width: $md3+px) {
                flex: 0 1 100%;
            }

            @media (max-width: $md4+px) {
                margin-bottom: 60px;
            }
        }
    }
}

.card-course {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__img {
        height: 0;
        padding-bottom: 50%;
        background: #F6F6F6;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 29px;
    }

    &__title {
        margin-bottom: 14px;
    }

    &__row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 4px;
    }

    &__event {
        display: inline-flex;
        margin-right: 10px;
        margin-bottom: 10px;
        min-width: 140px;
        min-height: 36px;
        align-items: center;
        border: 1px solid #F2F7EB;
        border-radius: 24px;
        padding-right: 16px;
        font-weight: 600;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.012em;
        color: $mainColor;    
    }

    &__event-icon {
        display: inline-flex;
        height: 36px;
        width: 36px;
        background: rgba(134, 185, 77, 0.11);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        
        & > span {
            display: inline-flex;
            height: 18px;
            width: 18px;
            justify-content: center;
            align-items: center;

            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &__text {
        max-width: 488px;
        flex:  1 1 auto;
        margin-bottom: 32px;
    }
}

.decor-label {
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 140px;
    min-height: 36px;
    align-items: center;
    border: 1px solid #F2F7EB;
    border-radius: 24px;
    padding-right: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.012em;
    color: $mainColor;

    &__icon {
        display: inline-flex;
        height: 36px;
        width: 36px;
        background: rgba(134, 185, 77, 0.11);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        
        & > span {
            display: inline-flex;
            height: 18px;
            width: 18px;
            justify-content: center;
            align-items: center;

            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }

    }
}




.big-card-courses {
    margin-bottom: 100px;
    &__body {
        position: relative;
        min-height: 539px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 50px 0;
        margin-bottom: 63px;

        @media (max-width: $md2+px) {
            display: block;
            padding: 0;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; 
        border-radius: 8px;
        overflow: hidden;
        border-radius: 8px;
        background-color: #f6f6f6;

        @media (max-width: 1320px) {
            width: 94%;
        }

        @media (max-width: $md2+px) {
           position: static;
           height: 500px;
           width: 100%;
        }

        @media (max-width: $md3+px) {
            height: 400px;
         }
    }

    &__wrap {
        position: relative;
        z-index: 2;
        width: 90%;
        max-width: 544px;
        padding: 32px 34px 36px 32px;
        transform: translateX(68px);
        background: #FFFFFF;
        box-shadow: 0px 4px 32px rgba(24, 68, 116, 0.08);
        border-radius: 8px;

        @media (max-width: 1320px) {
            transform: translateX(0px);
        }

        @media (max-width: $md2+px) {
            margin: -60px auto 0;
         }
    }

    &__bottom {
        text-align: center;
    }

    &__link {
        font-weight: bold;
        font-size: 17px;
        line-height: 33px;
        letter-spacing: 0.012em;
        color: $textColor;
        display: inline-block;
        position: relative;
        padding-right: 17px;
        position: relative;
       

        @media (min-width: 992px) {
            &:hover {
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 0;
            opacity: 0;
            height: 2px;
            transition: all .2s ease;
            background: $textColor;
        }

        &:before {
            position: absolute;
            content: '';
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: 10px;
            width: 10px;
            background: url(../img/icons/arrow-right-blue.svg) center no-repeat;
            background-size: contain;
        }
    }
}








.testimonials-slider {
    position: relative;
    background-color: $textColor;
    overflow: hidden;
    min-height: 640px;
    padding: 70px 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 180px;

    @media (max-width: $md3+px) {
        margin-bottom: 100px;
    }

    &:before {
        position: absolute;
        content: '';
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 0;
        width: 95%;
        padding-bottom: 100%;
        border-radius: 50%;
        background: rgba(#fff, 0.02);
        z-index: 1;
    }

    &:after {
        position: absolute;
        content: '';
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 0;
        width: 95%;
        padding-bottom: 100%;
        border-radius: 50%;
        background: rgba(#fff, 0.02);
        z-index: 2;
    }

    &__body {
        position: relative;
        z-index: 3;
        width: 100%;
    }

    &__title {
        color: #fff;
        margin-bottom: 31px;
        font-size: 36px;
        text-align: center;

        @media (max-width: 575px) {
            font-size: 30px;
        }
    }

    &__inner {
        background: #FFFFFF;
        box-shadow: 0px 4px 32px rgba(24, 68, 116, 0.24);
        border-radius: 8px;
        max-width: 841px;
        width: 100%;
        padding: 47px 49px 42px;
        margin: 0 auto 25px;
        text-align: center;
        color: $textColor;
        min-width: 0;

        @media (max-width: 575px) {
            padding: 47px 20px 42px;
        }
    }

    &__text {
        margin-bottom: 22px;
        min-width: 0;
        width: 100%;
        & .swiper-slide {
            font-size: 18px;
            line-height: 1.83;
            letter-spacing: 0.012em;
            color: #184374;
        }
    }

    &__author {
        font-weight: bold;
        margin-top: 6px;
        font-size: 16px;
        min-width: 0;
    }

    &__thumbs {
        width: 280px;
        margin: 0 auto;
        padding: 5px 10px;

        & .swiper-slide {
            height: 75px;
            width: 75px;

            @media (max-width: 575px) {
                height: 65px;
                width: 65px;
            }

            &.swiper-slide-thumb-active {
                & .progressCircle-progress {
                    opacity: 1;
                    animation: circleAnim 12s linear forwards;
                }
            }
        }
    }

    &__photo {
        position: relative;
        cursor: pointer;
        height: 100%;
        width: 100%;

        & > svg {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(-30deg);
            height: auto;
            width: 123%;
        }

        @keyframes circleAnim {
            from {
                stroke-dashoffset: 100; 
            }
            to {
                stroke-dashoffset: 0; 
            }
        }

        & .progressCircle-progress {
            stroke-dashoffset: 100;
            opacity: 0;
            
        }


        & > span {
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
        }

        
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn {
        cursor: pointer;
        margin: 0 5px;
        height: 60px;
        width: 60px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: $mainColor;
        border-radius: 50%;
        transition: all .2s ease;

        &.swiper-button-disabled {
            background: rgba(#fff, 0.58);
            pointer-events: none;
        }

        @media (min-width: 992px) {
            &:hover {
                background: rgba($mainColor, 0.7);
            }
        }

        & > span {
            display: inline-flex;
            height: 20px;
            width: 20px;
            justify-content: center;
            align-items: center;
            outline: none;

            & img {
                max-width: 100%;
                max-height: 100%;
            }

        }

        &_left {
        }

        &_right {
        }
    }
}











.home-footer {
    position: relative;
    padding: 1px 0;
    &:before {
        position: absolute;
        content: '';
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 78%;
        background: #133153;
        z-index: -1;
    }
    &__body {
        width: 90%;
        max-width: 1276px;
        margin: 0 auto;
    }

    &__white-box {
        background: #FFFFFF;
        box-shadow: 0px 4px 32px rgba(24, 68, 116, 0.08);
        border-radius: 8px;
        border-top: 6px solid $mainColor;
        padding: 48px 72px 10px;

        @media (max-width: 575px) {
            padding: 38px 10px 10px;
        }
    }

    &__row-1 {
        margin-bottom: 59px;
        @media (max-width: $md3+px) {
            text-align: center;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 22px;
        line-height: 1.09em;
        letter-spacing: 0.012em;
        color: #184374;
        margin-bottom: 25px;
    }

    &__logo-list {
        display: flex;
        margin: 0 -7.5px;
        align-items: center;
        flex-wrap: wrap;

        & > li {
            padding: 0 7.5px;
            flex: 0 1 16.666%;
            text-align: center;

            @media (max-width: $md3+px) {
                flex: 0 1 33.333%;
            }

            & img {
                max-width: 100%;
            }
        }
    }

    &__row-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__column {
        margin-bottom: 40px;

        & .home-footer__title {
            margin-bottom: 21px;
        }

        & ul {
            & > li {
                line-height: 2.25em;
                & a {
                    font-size: 16px;
                    line-height: 2.25em;
                    letter-spacing: 0.012em;
                    color: rgba($textColor, 0.64);
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &_1 {
            padding-right: 20px;
            min-width: 200px;
            max-width: 245px;
            width: 100%;
        }

        &_2 {
            padding-right: 20px;
            min-width: 200px;
            max-width: 245px;
            width: 100%;
        }

        &_3 {
            flex: 0 0 367px;

            @media (max-width: $md3+px) {
                flex: 0 1 auto;
            }
        }
    }


    &__link {
        font-weight: bold;
        font-size: 17px;
        line-height: 33px;
        letter-spacing: 0.012em;
        color: $mainColor;
        display: inline-block;
        position: relative;
        padding-right: 17px;
        border-bottom: 2px solid $mainColor;
        transition: all .2s ease;
        width: 100%;
        margin-top: 16px;

        @media (min-width: 992px) {
            &:hover {
                opacity: 0.7;
            }
        }

        &:before {
            position: absolute;
            content: '';
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: 10px;
            width: 10px;
            background: url(../img/icons/arrow-right-green.svg) center no-repeat;
            background-size: contain;
        }
    }

    &__link-icon {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        letter-spacing: 0.012em;
        color: $textColor !important;

        & > span {
            width: 17px;
            margin-right: 12px;
            display: inline-flex;
            align-items: center;

            & img {
                width: 100%;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 33px 0 40px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.68);
        padding: 0px 72px;

        @media (max-width: $md3+px) {
            display: block;
            text-align: center;
        }

        & a {
            color: rgba(255, 255, 255, 0.68);
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__bottom-left {
        @media (max-width: $md3+px) {
           margin-bottom: 20px;
         }
    }

    &__bottom-right {
        & > a {
            margin-left: 39px;
            white-space: nowrap;

            @media (max-width: $md3+px) {
               margin-left: 30px;
               margin-right: 30px;
            }
        }
    }
}


.subscribe {
    margin-bottom: 19px;

    &__wrap {
        display: flex;
        width: 100%;
        border: 1px solid rgba(24, 68, 116, 0.08);
        border-radius: 32px;
        align-items: center;
    }

    & input {
        flex: 0 1 calc(100% - 117px);
        padding: 5px 15px 5px 23px;
        background: transparent;
        width: 100%;

        &::placeholder {
            font-size: 16px;
            letter-spacing: 0.012em;
            color: rgba(24, 67, 116, 0.32);
        }
    }

    & button.btn-default {
        flex: 0 0 117px;
        background: $textColor;
        border-color: $textColor;
        font-size: 13px;
        min-height: 54px;
        min-width: 117px;

        @media (min-width: 992px) {
            &:hover {
                background: rgba($textColor, 0.7);
                border-color: rgba($textColor, 0.7);
            }
        }

        &:active {
            background: rgba($textColor, 0.5);
        }
    }
}

.social {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $md3+px) {
        justify-content: center;
    }

    & > li {
        margin-bottom: 10px;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    &__item {
        height: 54px;
        width: 54px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #E9F2DF;
        transition: all .2s ease;

        @media (min-width: 992px) {
            &:hover {
                background: #caf39c; 
            }
        }

        & > span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;

            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

