.block-column-2 {
	margin: 100px 0 100px;
	&__body {
		display: flex;

		@media (max-width: $md2+px) {
			display: block;
		}

		& .column {
			flex: 0 1 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&:first-child {
				padding-right: 30px;

				@media (max-width: $md2+px) {
					margin-bottom: 50px;
					padding-right: 0;
				}
			}

			& p {
				max-width: 496px;
			}

			& .btn-default {
				margin-top: 8px;
			}
		}
	}
	&__inner {
		background: url(.jpg), #C4C4C4;
		border-radius: 8px;
		overflow: hidden;
		min-height: 454px;
		transform: translateX(48px);

		@media (max-width: 1260px) {
			transform: translateX(0px);
		}
	}
}



